*{
    font-family: 'Poppins';
}
.big-pic{
position: relative;
width: 1300px;
height: 470px;
background: url('../assets/images/About.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}

.about{
box-sizing: border-box;
width: 800px;
height: 350px;
background: rgba(0, 0, 0, 0.18);
border: 0.688737px solid rgba(255, 255, 255, 0.16);
backdrop-filter: blur(8.7px);
border-radius: 35px;
display: flex;
justify-content: center;
align-items: center;
}
.about .About{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 90px;
color: #F2CB05;
margin-bottom: 4rem;
}
.about .about-text{
display: flex;
flex-direction: column;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 22px;
align-items: center;
text-align: center;
color: #FFFFFF;
}
