

.project-container-grid{
   margin: 4em auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
    gap: 20px; /* Space between cards */
    padding: 0 6rem;
    width: 80em;

}
.line-yellow-cont{
    display: flex;
    justify-content: center;
}
.line-yellow{
width: 989px;
height: 3px;
background: #F2CB05;
border-radius: 45px;


}