@import "tailwindcss";

body{
  overflow-x: hidden;
 
}
@layer utilities {
  /* Scrollbar Track */
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 100em;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;

     /* Light gray background */
  }

  /* Scrollbar Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #6a7282; /* Your primary color */
    border-radius: 4px;
  
  }

  /* Scrollbar Handle on Hover */
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #F2CB05; /* Darker green */
  }
}

@layer components{
  .cal-input{
    background: hsl(0, 0%, 100%);
    outline: none;
    font-size: 18px;
   
  }
  .cal-button{
    padding: 10px 15px;
    border-radius: 5px;
    
  }
  .side-bar-item{
    transition: 300ms;
  }
  .login-header::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 20%;
  border-top: 5px solid #F2CB05;
  border-bottom: 5px solid #F2CB05;
  }
  .login-header::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 20%;
    border-top: 5px solid #F2CB05;
    border-bottom: 5px solid #F2CB05;
    }
  
 
}
*{
  font-family: 'Alexandria', sans-serif;
  box-sizing: border-box;
  outline: none;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;

}
button{
  cursor: pointer;
}
.button{
  background-color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
}
.Container{
  padding: 0 3em;
  max-width: 90em;
  margin: 0 auto;
}
li{
  list-style: none;
  text-decoration: none;
}
a{
  text-decoration: none;
}

