@import "tailwindcss";

body{
  overflow-x: hidden;
}
@layer components{
  .cal-input{
    background: hsl(0, 0%, 100%);
    outline: none;
    font-size: 18px;
   
  }
  .cal-button{
    padding: 10px 15px;
    border-radius: 5px;
    
  }
}
*{
  font-family: 'El Messiri', sans-serif;
 
 
  box-sizing: border-box;
  direction: rtl;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;

}
button{
  cursor: pointer;
}
.button{
  background-color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
}
.Container{
  padding: 0 3em;
  max-width: 90em;
  margin: 0 auto;
}
li{
  list-style: none;
  text-decoration: none;
}
a{
  text-decoration: none;
}

